<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/main/style.css" />
  </head>
  <body>
    <!--Add Car-->
    <div class="container">
      <div class="form">
        <h1>Add Cars</h1>
        <hr />
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="carname">Car Name</label><br />
          <input type="text" name="carname" /><br />
          <label for="car_desc">Car Description</label><br />
          <textarea name="car_desc"></textarea><br />
          <label for="image">Image</label><br />
          <input type="file" name="image" alt="image" /><br /><br />
          <button>Add Car</button><br />
        </form>
      </div>
      <div class="form">
        <!-- search car -->
        <form>
          <input type="text" name="search_car" /><br />
          <br />
          <button>Search</button>
        </form>
      </div>
      <br />
      <br />
      <table>
        <tr>
          <th>SN</th>
          <th>Car Name</th>
          <th>Car Description</th>
          <th>Car Image</th>
          <th></th>
        </tr>
        {%for x in cars%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{x.carname}}</td>
          <td>{{x.cardesc}}</td>
          <td>
            <img
              src="{{x.carimage.url}}"
              alt="car image"
              width="100px"
              height="100px"
            />
          </td>
          <td>
            <a href="/modify/{{x.id}}/">Update</a><br /><br /><a
              href="/delete/{{x.id}}"
              >Delete</a
            >
          </td>
        </tr>
        {%endfor%}
      </table>
    </div>
  </body>
</html>
