<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/main/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="form">
        <h1>Add Cars</h1>
        <hr />
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="carname">Car Name</label><br />
          <input type="text" name="carname" /><br />
          <label for="car_desc">Car Description</label><br />
          <textarea name="car_desc"></textarea><br />
          <label for="image">Image</label><br />
          <input type="file" name="image" alt="image" /><br /><br />
          <button>Add Car</button><br />
        </form>
      </div>
    </div>
  </body>
</html>
