<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/login/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="heading">
        <h1>Log In</h1>
      </div>
      <form action="#" method="post">
        {% csrf_token %}
        <p>Username</p>
        <input
          type="text"
          placeholder="Enter your username"
          name="username"
          required
        />
        <p>Password</p>
        <input
          type="text"
          placeholder="Enter your password"
          name="password"
          required
        />
        <button type="submit">LogIn</button>
        <p>Don't have an account? <a href="/register/">SignUp</a></p>
      </form>
    </div>
  </body>
</html>
